<main>
  <app-learning-resources/>
  <hr />
  <app-auth />
  <!-- @if (isAdmin()) {
    <p>Only Admin Access This!</p>
  } -->

  <!-- <ng-template appAuth="admin">
    <p>Only Admin Access This!</p>
  </ng-template> -->

  <p *appAuth="'admin'" class="protected-content admin">Only Admin Access This!</p>
  <p *appAuth="'user'" class="protected-content unauthenticated">regular users should see this!</p>  
  <p *appAuth="'guest'" class="protected-content authenticated">guest users should see this!</p>  
  
</main>
